@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Open+Sans:wght@300;400&display=swap');
/*************************************** GLOBALES ************************************************/
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     user-select: none;
}
 body {
     font-family: 'Open Sans', sans-serif;
     background-color: #f4f4f7;
}
 a {
     text-decoration: none;
     color: #000;
}
/******************************** DESPLEGABLE DE LOS IDIOMAS ***************************************/
 .lang {
     width: 90%;
     max-width: 1000px;
     margin: auto;
     transform: scale(.5);
}
 .selectbox {
     width: 130%;
     margin: auto;
     position: relative;
}
 .select {
     width: 100%;
     box-shadow: 0px 0px 0px rgba(0, 0, 0, .16);
     border-radius: 10px;
     cursor: pointer;
     display: flex;
     justify-content: space-between;
     align-items: center;
     transition: .2s ease all;
     padding: 30px;
     position: relative;
     z-index: 1;
     top: 45px;
}
 .select.active, .select:hover {
     box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
}
 .select.active:before {
     content: "";
     display: block;
     height: 0;
     width: 0;
     border-top: 15px solid #213f8f;
     border-right: 15px solid transparent;
     border-bottom: 15px solid transparent;
     border-left: 15px solid transparent;
     position: absolute;
     bottom: -30px;
     left: calc(50% - 15px);
}
 .options {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 150%;
    background: #f4f4f7;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
    max-height: 400px;
    overflow: auto;
    z-index: 2;
    width: 100%;
}
.options.active {
    animation: fadeIn 0.3s forwards;
    opacity: 1;
    visibility: visible;
}

.options.out {
    animation: fadeOut 0.3s forwards;
}
 @keyframes fadeIn {
     from {
         transform: translateY(-200px) scale(.5);
    }
     to {
         transform: translateY(0) scale(1);
    }
}
@keyframes fadeOut {
    from {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    to {
        transform: translateY(-20px) scale(0.8);
        opacity: 0;
    }
}
 .content-option {
     width: 100%;
     display: flex;
     align-items: center;
     transition: .2s ease all;
}
 .options .content-option {
     padding: 30px;
}
 .content-option img {
     width: 60px;
     height: 60px;
}
 .options .content-option:hover {
     background: #213f8f;
}
/******************************** MENU DE LENGUAJES Y LOGIN ***************************************/
 .menu-lang-login {
     display: flex;
     align-items: center;
    /* Alinea los elementos verticalmente en el centro */
     justify-content: flex-end;
    /* Alinea los elementos a la derecha */
     position: relative;
     top: -40px;
     right: 40px;
}
 .menu-lang-login li{
     display: inline-block;
}
/******************************** MENU DEL BLOG *****************************************/
 .menu-blog {
     margin: auto;
     padding: 0 60px 0 0;
}
 .menu-blog li{
     display: inline-block;
     margin-right: 15px;
     font-weight: 400;
}
/******************************************* BOTONES DEL LOGIN ***************************************/
 .login {
     margin: auto;
}
 .login li {
     display: inline-block;
     font-weight: 400;
     margin-right: 20px;
}
 .login li span {
     display: none;
     color: #213f8f;
}
 .login ul li img {
     width: 17px;
     height: 17px;
     position: relative;
     top: 3px;
     right: 5px;
}
/******************************************* LOGO ***************************************/
 .logo {
     font-family: 'Leckerli One', cursive;
     max-width: 150px;
     position: relative;
     top: -100px;
     left: 50px;
}
/******************************************* MENU DEL NAV ***************************************/
 .menu-nav {
     text-align: center;
     border-bottom: 1px solid gray;
     padding-bottom: 20px;
     margin: -90px 5% 0 5%;
}
 .menu-nav li {
     display: inline-block;
     margin-right: 20px;
}
.menu-nav li a:hover {
    color: #213f8f;
    font-weight: bold;
  }
/******************************************** BOTON RESPONSIVE *********************************/
 .bars_menu {
     display: none;
     width: 30px;
     height: 30px;
     position: absolute;
     top: 23px;
     left: 20px;
     cursor: pointer;
     z-index: 100;
}
 .bars_menu span {
     display: block;
     width: 100%;
     height: 2px;
     background: #213f8f;
     margin-top: 10px;
     transform-origin: 0px 100%;
     transition: all 400ms;
}
 .activeline1_bars-menu {
     transform: rotate(45deg) translate(3.5px, 1px);
}
 .activeline2_bars-menu {
     opacity: 0;
     margin-left: -30px;
}
 .activeline3_bars-menu {
     transform: rotate(-45deg) translate(2px, 2px);
}
 .menu {
     display: none;
}
 .activemenu {
     display: block;
     background-color: #f4f4f7;
     z-index: 200;
     position: absolute;
     top: 90px;
     width: 100%;
     height: 100%;
     padding: 20px;
}
 .pag li {
     text-align: right;
     list-style: none;
     font-size: 20px;
     padding-bottom: 30px;
}
/******************************* MENU DE LOS IDIOMAS RESPONSIVE ************************************/
 .img-flag{
     width: 40px;
     height:39px;
     position: absolute;
     top: 0px;
     left: 35px;
}
 .angle-down {
     width: 25px;
     height: 25px;
     position: absolute;
     left: 90px;
     top: 7px;
}
 .activeAngle-down {
     display: none;
}
 .angle-up {
     display: none;
     width: 25px;
     height: 25px;
     position: absolute;
     left: 90px;
     top: 7px;
}
 .activeAngle-up {
     display: block;
}
 .flags{
     display: none;
     position: absolute;
     top: 70px;
     left: 35px;
     transition: transform 0.3s ease-in-out;
     max-height: 200px;
     overflow: auto;
}
 .activeflags {
     display: block;
}
 .flags img{
     display: inline-block;
     width: 40px;
     height:50px;
     margin-right: 20px;
     padding-bottom: 10px;
}
 .flags li {
     padding-bottom: 20px;
}
 .menu-flags {
     cursor: pointer;
}
/******************************************* RESTO DEL MENU ************************************************************/
 .pag {
     margin-right: 50px;
}
 .pag li img {
     position: relative;
     top: 2px;
     width: 15px;
     height: 15px;
}
 .login-res {
     display: none;
     position: absolute;
     top: 30px;
     right: 20px;
}
 .login-res img{
     width: 30px;
     margin-right: 2px;
     margin-left: 5px;
}
/********************************************** RESTO DEL INDEX *********************************************************/
.img-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2% 0;
    min-height: 80vh;
    background: url('../static/img/foto-index.png') center/cover no-repeat;
}

.img-index h2,
.img-index p,
.img-index a {
    position: relative;
    z-index: 1;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
    transition: all 0.5s;
    margin: 0 15px;
}

.img-index h2 {
    font-size: 6vh;
}

.img-index p {
    margin-top: 50px;
    font-size: 3vh;
}

.img-index a {
    text-shadow: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    background-color: #283557;
}
.img-index a:hover {
    background-color: #3a4d99;
}
.band {
    text-align: center;
    margin: 40px;
    border-top: 1px solid #ccc;
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}
.band > div {
    display: inline-block;
    width: 30%; /* Puedes ajustar el ancho según tus preferencias */
    margin: 10px;
    vertical-align: top;
    text-align: left;
}
.band img {
    width: 50px;
}
.index-container {
    display: flex;
}
.text-index {
    flex: 1;
    margin: 10px 4.5% 10px 10%;
    text-align:left;
    font-size: 110%;
}

.text-index p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 200px;
}
.text-index h3 {
    position: relative;
    left:-15%;
    font-size: 40px;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.image-index img{
    position: relative;
    top: 20px;
    right: 200px;
    width: 300px;
    border-radius: 5%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 3);
}
.image-index2 img {
    display: none;
}
/******************************************** PAGINA DE PINTURAS ********************************************************/
.cuntenidu {
    text-align: center;
    padding: 20px 0;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.cont-img {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.img-venta {
    flex: 0 0 calc(25% - 20px);
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
}
.img-venta img{
    width: 300px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.listas {
    list-style: none;
    width: 250px;
    margin: 0 auto;
    text-align: center;
}
.listas .categoria {
    margin: 20px auto;
}
.categoria li {
    list-style: none;
}
.categoria h2 {
    margin: 10px 0;
    cursor: pointer;
}
.categoria img {
    width: 20px;
    position: relative;
    top: -33px;
    right: -60px;
}
.sublista li {
    padding: 5px 0;
}
.sublista {
    display: none;
    margin-top: -30px;
}
.sublista li a:hover {
    color: #213f8f;
    font-weight: bold;
}
.regist {
    background-color: #283557;
    display: flex;
    margin: 0;
    margin-top: 50px;
    padding: 30px;
    align-items: center;
}
.regist h3 {
    color: #f4f4f7;
}
.regist-form {
    width: 100%;
    text-align: right;
}
.regist-form input {
    width: 100px;
    padding: 12px;

}
.regist a {
    border-radius: 5%;
    background-color: #f4f4f7;
    padding: 9px 10px 11.5px 10px;
}
/********************************* ESTILOS DEL FOOTER ***********************************************************/
footer {
    padding-top: 20px;
    margin: 10px;
}
footer a {
    color:#213f8f;
    text-decoration: none;
}
/********************************** MEDIA PARA EL RESPONSIVE ***************************************************/
@media screen and (max-width: 1150px) {
    .index-container {
        display: block;
    }

    .text-index {
        max-width: none;
        margin: 10px 4.5% 10px 4.5%;
    }
    .text-index p {
        margin-right: 0;
    }
    .image-index {
        margin-top: 50px;
        text-align: center; 
    }

    .image-index img {
        margin: auto;
        width: 290px;
    }

    .image-index img {
        display: none;
    }

    .image-index2 {
        margin: -1% 5% 3% 5%;
    }
    .image-index2 img {
        display: block;
        width: 100%;
        border-radius: 5px;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 3);
    }
    .text-index h3 {
        left: 0;
        font-size: 20px;
    }
}
@media screen and (max-width: 767px) {
     .menu-lang-login {
         display: none;
    }
     .menu-nav {
         display: none;
    }
     .logo {
        position: block;
        top: 25px;
        left: auto;
        margin: 0 auto;
        margin-bottom: 50px;
        padding-left: 10px;
    }
     .bars_menu {
         display: block;
    }
     .login-res {
         display: block;
    }
    .flex-container {
        display: block;
    }
    .cont-img {
        display: block;
    }
    .listas {
        display: block;
        text-align: center;
    }
    .listas .categoria {
        margin: 20px auto;
    }
    .band > div {
        margin: 0 10%;
        display: block;
        width: 100%;
        margin: 10px;
    }
    .regist {
        display: block;
    }
}